# German Credit Analysis, Using DNN

In [93]:
import pandas as pd

### Read in the data

In [94]:
german = pd.read_csv('MGMT635_GermanCreditData.csv')

In [95]:
german.head()

,checking,duration,history,purpose,amount,savings,employment,rate,status,guarantor,...,propert,age,other_debt,housing_type,existing_credit_bank,job,dependents,phone,foreign,target
0,11,6,34,43,1169,65,75,4,93,101,...,121,67,143,152,2,173,1,192,201,1
1,12,48,32,43,5951,61,73,2,92,101,...,121,22,143,152,1,173,1,191,201,2
2,14,12,34,46,2096,61,74,2,93,101,...,121,49,143,152,1,172,2,191,201,1
3,11,42,32,42,7882,61,74,2,93,103,...,122,45,143,153,1,173,2,191,201,1
4,11,24,33,40,4870,61,73,3,93,101,...,124,53,143,153,2,173,2,191,201,2

In [96]:
attribute_dict = {1:['checking', 'history', 'purpose', 'savings',
                    'employment', 'status', 'guarantor','propert', 'other_debt', 'housing_type', 
                    'job', 'phone', 'foreign'], 
                  2:['duration', 'amount', 'rate', 'residence_time','age', 'existing_credit_bank',
                     'dependents',]}

In [97]:
german.describe()

,checking,duration,history,purpose,amount,savings,employment,rate,status,guarantor,...,propert,age,other_debt,housing_type,existing_credit_bank,job,dependents,phone,foreign,target
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,12.577000,20.903000,32.54500,47.148000,3271.258000,62.105000,73.384000,2.973000,92.68200,101.145000,...,122.358000,35.546000,142.675000,151.929000,1.407000,172.904000,1.155000,191.404000,201.037000,1.300000
std,1.257638,12.058814,1.08312,40.095333,2822.736876,1.580023,1.208306,1.118715,0.70808,0.477706,...,1.050209,11.375469,0.705601,0.531264,0.577654,0.653614,0.362086,0.490943,0.188856,0.458487
min,11.000000,4.000000,30.00000,40.000000,250.000000,61.000000,71.000000,1.000000,91.00000,101.000000,...,121.000000,19.000000,141.000000,151.000000,1.000000,171.000000,1.000000,191.000000,201.000000,1.000000
25%,11.000000,12.000000,32.00000,41.000000,1365.500000,61.000000,73.000000,2.000000,92.00000,101.000000,...,121.000000,27.000000,143.000000,152.000000,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000
50%,12.000000,18.000000,32.00000,42.000000,2319.500000,61.000000,73.000000,3.000000,93.00000,101.000000,...,122.000000,33.000000,143.000000,152.000000,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000
75%,14.000000,24.000000,34.00000,43.000000,3972.250000,63.000000,75.000000,4.000000,93.00000,101.000000,...,123.000000,42.000000,143.000000,152.000000,2.000000,173.000000,1.000000,192.000000,201.000000,2.000000
max,14.000000,72.000000,34.00000,410.000000,18424.000000,65.000000,75.000000,4.000000,94.00000,103.000000,...,124.000000,75.000000,143.000000,153.000000,4.000000,174.000000,2.000000,192.000000,202.000000,2.000000

##### Noted as most relevant attributes

In [98]:
german2 = german[['duration', 'history','amount', 'savings',
       'status','housing_type', 'foreign','target']]

In [99]:
german2.head()

   duration  history  amount  savings  status  housing_type  foreign  target
0         6       34    1169       65      93           152      201       1
1        48       32    5951       61      92           152      201       2
2        12       34    2096       61      93           152      201       1
3        42       32    7882       61      93           153      201       1
4        24       33    4870       61      93           153      201       2

### Chop up the data (training, testing)

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
x_data = german2.drop('target',axis=1)

In [102]:
y_labels = german2['target']

In [103]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.02, random_state=101)

In [104]:
german.columns

Index(['checking', 'duration', 'history', 'purpose', 'amount', 'savings',
       'employment', 'rate', 'status', 'guarantor', 'residence_time',
       'propert', 'age', 'other_debt', 'housing_type', 'existing_credit_bank',
       'job', 'dependents', 'phone', 'foreign', 'target'],
      dtype='object')

In [105]:
import tensorflow as tf

### Assign feature columns for TensorFlow (numeric, categorical, etc.)

In [106]:
history = tf.feature_column.numeric_column("history")
savings = tf.feature_column.numeric_column("savings")
status = tf.feature_column.numeric_column("status")
housing_type = tf.feature_column.numeric_column("housing_type")
foreign = tf.feature_column.numeric_column("foreign")
duration = tf.feature_column.numeric_column("duration")
amount = tf.feature_column.numeric_column("amount")

In [107]:
for attribute in attribute_dict.values():
    print(attribute)

['checking', 'history', 'purpose', 'savings', 'employment', 'status', 'guarantor', 'propert', 'other_debt', 'housing_type', 'job', 'phone', 'foreign']
['duration', 'amount', 'rate', 'residence_time', 'age', 'existing_credit_bank', 'dependents']

In [108]:
feat_cols = [duration, history,amount, savings,
            status,housing_type, foreign]

### Create model and Input the data

In [109]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

In [110]:
dnn_model = tf.estimator.DNNClassifier(hidden_units=[3,3,3],feature_columns=feat_cols, n_classes=10)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\JMORR_~1\AppData\Local\Temp\tmp_jxhcgjd
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_session_config': None, '_tf_random_seed': 1, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_model_dir': 'C:\\Users\\JMORR_~1\\AppData\\Local\\Temp\\tmp_jxhcgjd', '_log_step_count_steps': 100, '_save_summary_steps': 100, '_keep_checkpoint_every_n_hours': 10000}

In [111]:
dnn_model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\JMORR_~1\AppData\Local\Temp\tmp_jxhcgjd\model.ckpt.
INFO:tensorflow:loss = 7350.23, step = 1
INFO:tensorflow:global_step/sec: 134.756
INFO:tensorflow:loss = 12.8651, step = 101 (0.759 sec)
INFO:tensorflow:global_step/sec: 189.119
INFO:tensorflow:loss = 10.2232, step = 201 (0.526 sec)
INFO:tensorflow:global_step/sec: 148.152
INFO:tensorflow:loss = 9.98891, step = 301 (0.669 sec)
INFO:tensorflow:global_step/sec: 139.462
INFO:tensorflow:loss = 9.37596, step = 401 (0.721 sec)
INFO:tensorflow:global_step/sec: 147.933
INFO:tensorflow:loss = 9.65888, step = 501 (0.696 sec)
INFO:tensorflow:global_step/sec: 139.268
INFO:tensorflow:loss = 9.41948, step = 601 (0.745 sec)
INFO:tensorflow:global_step/sec: 130.7
INFO:tensorflow:loss = 6.93528, step = 701 (0.723 sec)
INFO:tensorflow:global_step/sec: 139.462
INFO:tensorflow:loss = 7.52826, step = 801 (0.717 sec)
INFO:tensorflow:global_step/sec: 123.582
INFO:tensorflow:loss = 5.79325, step = 901 (0.808 sec)
INFO:tensorflow:global_step/sec: 110.215
INFO:tensorflow:loss = 6.42182, step = 1001 (0.890 sec)
INFO:tensorflow:global_step/sec: 109.012
INFO:tensorflow:loss = 8.85337, step = 1101 (0.917 sec)
INFO:tensorflow:global_step/sec: 109.972
INFO:tensorflow:loss = 7.08353, step = 1201 (1.018 sec)
INFO:tensorflow:global_step/sec: 113.601
INFO:tensorflow:loss = 7.01351, step = 1301 (0.776 sec)
INFO:tensorflow:global_step/sec: 134.939
INFO:tensorflow:loss = 9.5279, step = 1401 (0.757 sec)
INFO:tensorflow:global_step/sec: 121.923
INFO:tensorflow:loss = 6.05737, step = 1501 (0.817 sec)
INFO:tensorflow:global_step/sec: 107.371
INFO:tensorflow:loss = 7.70798, step = 1601 (0.936 sec)
INFO:tensorflow:global_step/sec: 118.171
INFO:tensorflow:loss = 6.81583, step = 1701 (0.864 sec)
INFO:tensorflow:global_step/sec: 125.761
INFO:tensorflow:loss = 6.77991, step = 1801 (0.758 sec)
INFO:tensorflow:global_step/sec: 113.214
INFO:tensorflow:loss = 6.74746, step = 1901 (0.890 sec)
INFO:tensorflow:global_step/sec: 119.016
INFO:tensorflow:loss = 9.31419, step = 2001 (0.853 sec)
INFO:tensorflow:global_step/sec: 115.439
INFO:tensorflow:loss = 9.28775, step = 2101 (0.862 sec)
INFO:tensorflow:global_step/sec: 142.651
INFO:tensorflow:loss = 8.38668, step = 2201 (0.694 sec)
INFO:tensorflow:global_step/sec: 129.85
INFO:tensorflow:loss = 4.91316, step = 2301 (0.782 sec)
INFO:tensorflow:global_step/sec: 96.1986
INFO:tensorflow:loss = 9.20642, step = 2401 (1.020 sec)
INFO:tensorflow:global_step/sec: 125.132
INFO:tensorflow:loss = 6.60532, step = 2501 (0.811 sec)
INFO:tensorflow:global_step/sec: 105
INFO:tensorflow:loss = 9.16447, step = 2601 (0.958 sec)
INFO:tensorflow:global_step/sec: 101.685
INFO:tensorflow:loss = 5.70678, step = 2701 (0.969 sec)
INFO:tensorflow:global_step/sec: 100.357
INFO:tensorflow:loss = 5.69169, step = 2801 (0.993 sec)
INFO:tensorflow:global_step/sec: 126.398
INFO:tensorflow:loss = 4.80671, step = 2901 (0.849 sec)
INFO:tensorflow:global_step/sec: 129.85
INFO:tensorflow:loss = 8.2404, step = 3001 (0.732 sec)
INFO:tensorflow:global_step/sec: 118.592
INFO:tensorflow:loss = 6.51715, step = 3101 (0.817 sec)
INFO:tensorflow:global_step/sec: 104.451
INFO:tensorflow:loss = 6.50503, step = 3201 (0.971 sec)
INFO:tensorflow:global_step/sec: 135.305
INFO:tensorflow:loss = 9.05124, step = 3301 (0.741 sec)
INFO:tensorflow:global_step/sec: 126.079
INFO:tensorflow:loss = 5.63764, step = 3401 (0.782 sec)
INFO:tensorflow:global_step/sec: 116.245
INFO:tensorflow:loss = 6.47422, step = 3501 (0.854 sec)
INFO:tensorflow:global_step/sec: 129.682
INFO:tensorflow:loss = 5.60969, step = 3601 (0.793 sec)
INFO:tensorflow:global_step/sec: 124.197
INFO:tensorflow:loss = 6.45598, step = 3701 (0.809 sec)
INFO:tensorflow:global_step/sec: 92.9745
INFO:tensorflow:loss = 6.44797, step = 3801 (1.061 sec)
INFO:tensorflow:global_step/sec: 100.156
INFO:tensorflow:loss = 6.43961, step = 3901 (0.999 sec)
INFO:tensorflow:global_step/sec: 108.656
INFO:tensorflow:loss = 5.5827, step = 4001 (0.915 sec)
INFO:tensorflow:global_step/sec: 104.233
INFO:tensorflow:loss = 6.42501, step = 4101 (0.958 sec)
INFO:tensorflow:global_step/sec: 134.756
INFO:tensorflow:loss = 6.41805, step = 4201 (0.737 sec)
INFO:tensorflow:global_step/sec: 126.399
INFO:tensorflow:loss = 3.85282, step = 4301 (0.805 sec)
INFO:tensorflow:global_step/sec: 136.788
INFO:tensorflow:loss = 6.40547, step = 4401 (0.726 sec)
INFO:tensorflow:global_step/sec: 109.25
INFO:tensorflow:loss = 5.53711, step = 4501 (0.939 sec)
INFO:tensorflow:global_step/sec: 132.433
INFO:tensorflow:loss = 8.96763, step = 4601 (0.752 sec)
INFO:tensorflow:global_step/sec: 122.371
INFO:tensorflow:loss = 5.53395, step = 4701 (0.794 sec)
INFO:tensorflow:global_step/sec: 109.49
INFO:tensorflow:loss = 6.38274, step = 4801 (0.914 sec)
INFO:tensorflow:global_step/sec: 128.513
INFO:tensorflow:loss = 8.10313, step = 4901 (0.788 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\JMORR_~1\AppData\Local\Temp\tmp_jxhcgjd\model.ckpt.
INFO:tensorflow:Loss for final step: 6.373.

### Evaluate the predictions

In [112]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,y=y_test,batch_size=1,shuffle=False)

In [113]:
dnn_model.evaluate(eval_input_func)

INFO:tensorflow:Starting evaluation at 2019-02-18-20:11:15
INFO:tensorflow:Restoring parameters from C:\Users\JMORR_~1\AppData\Local\Temp\tmp_jxhcgjd\model.ckpt-5000
INFO:tensorflow:Finished evaluation at 2019-02-18-20:11:17
INFO:tensorflow:Saving dict for global step 5000: accuracy = 0.85, average_loss = 0.509462, global_step = 5000, loss = 0.509462

{'accuracy': 0.85000002,
 'average_loss': 0.50946212,
 'global_step': 5000,
 'loss': 0.50946212}

In [124]:
X_test.shape

(20, 7)